[Unit]
Description=Bittorent Sync per-user service
After=network.target

[Service]
Type=forking
ExecStart=/home/beams0/b268176/bin/rslsync
Restart=on-abort

[Install]
WantedBy=default.target
