[Unit]
Description=Davmail wrapper for e-mail on Outlook Exchange server
After=network-online.target,lightdm.service
Wants=network-online.target,lightdm.service

[Service]
Type=simple
PIDFile=/run/davmail.pid
ExecStart=/usr/bin/davmail
WorkingDirectory=/
Restart=always
RestartSec=10
#KillMode=mixed

[Install]
WantedBy=default.target
