[Unit]
Description=Davmail wrapper for e-mail on Outlook Exchange server

[Service]
Type=simple
PIDFile=/run/davmail.pid
ExecStart=/home/mwolf/build/davmail-5.4.0-3135/davmail
WorkingDirectory=/
Restart=always
RestartSec=10
#KillMode=mixed

[Install]
WantedBy=default.target
