# Launch the jupyter-notebook server
# Referenced from https://gist.github.com/whophil/5a2eab328d2f8c16bb31c9ceaf23164f

[Unit]
Description=Jupyter Notebook

[Service]
Environment="PATH=/home/mwolf/miniconda3/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Type=simple
PIDFile=/home/mwolf/.jupyter.pid
ExecStart=/bin/zsh -il -c 'conda activate && ${HOME}/miniconda3/bin/jupyter lab --no-browser'
WorkingDirectory=/
Restart=always
RestartSec=10
#KillMode=mixed

[Install]
WantedBy=default.target
