alias netflix="chromium --app=https://www.netflix.com"
alias gitlog="git log --pretty=oneline --graph --all"
alias ls='ls --color=auto'

# An alias for running gsas from the command line
alias 'gsas'='~/miniconda3/envs/gsas/bin/python ~/miniconda3/envs/gsas/GSASII/GSASII.py'

# Alias for logging into UIC's supercomputer cluster
# alias 'ssh-extreme'='ssh mwolf22@login-1.extreme.uic.edu -o ServerAliveInterval=30'
# alias 'ssh-labpi'='ssh pi@10.19.196.45'

# Alias for gcalcli (google calendar CLI)
# alias 'gcal'='gcalcli'
# alias 'meetings'='emacs ~/Documents/meetings/meeting-notes.org'
